.question-box {
    background-color: #f4f6f9;
    border-left: 6px solid #5cb85c;
    padding: 1rem;
    border-radius: 0.5rem;
}

.option-button {
    /* width: 100%; */
    padding: 12px;
    font-size: 1rem;
    border: 2px solid #0070d2;
    background-color: white;
    color: #0070d2;
    font-weight: bold;
    border-radius: 0.4rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.option-button:hover {
    background-color: #e3f2fd;
}

.correct {
    background-color: #4caf50;
    color: white;
    border: none;
}

.wrong {
    background-color: #f44336;
    color: white;
    border: none;
}

.timer {
    font-weight: bold;
    color: #444;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.restart-button {
    --slds-c-button-radius-border: 0.5rem;
    --slds-c-button-line-height: 1.5rem;
    font-weight: bold;
    font-size: 1rem;
    transition: all 0.2s ease;
}

.restart-button:hover {
    transform: scale(1.05);
    background-color: #f3f3f3;
}